[submodule "Vulkan Playground\lib/spdlog"]
	path = Vulkan Playground/lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vulkan Playground\lib/GLFW"]
	path = Vulkan Playground/lib/GLFW
	url = https://github.com/KhaledShawki/glfw.git
[submodule "Vulkan Playground\lib/glm"]
	path = Vulkan Playground/lib/glm
	url = https://github.com/g-truc/glm.git